.sidebar-link:hover {
  text-decoration: underline;
  background-color: #eee;
  color: green;
}

.sidebar-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 0;
  border-radius: 4px;
  color: green;
}
