.about {
  padding: 24px 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-left {
  width: 15%;
  border-right: 1px solid #1e1e1e;
}

.about-right {
  width: 85%;
  padding-left: 96px;
}

.about-title {
  font-size: 32px;
  font-weight: bold;
}

.about-desc-item {
  padding: 18px 0;
}

.about-desc-item h3 {
  font-size: 18px;
  text-decoration: underline;
  color: green;
}

.about-desc-item p {
  line-height: 1.4;
  margin-top: 12px;
}
